<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.invoice.system.mapper.SysCommodityCodeMapper" >
    <resultMap id="BaseResultMap" type="com.invoice.system.domain.szmodel.SysCommodityCode" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="jsbh" property="jsbh" jdbcType="VARCHAR" />
        <result column="nsrsbh" property="nsrsbh" jdbcType="VARCHAR" />
        <result column="bm" property="bm" jdbcType="VARCHAR" />
        <result column="spmc" property="spmc" jdbcType="VARCHAR" />
        <result column="spbmjc" property="spbmjc" jdbcType="VARCHAR" />
        <result column="ggxh" property="ggxh" jdbcType="VARCHAR" />
        <result column="sl" property="sl" jdbcType="VARCHAR" />
        <result column="dj" property="dj" jdbcType="VARCHAR" />
        <result column="kysl" property="kysl" jdbcType="VARCHAR" />
        <result column="hsbz" property="hsbz" jdbcType="VARCHAR" />
        <result column="lslbs" property="lslbs" jdbcType="VARCHAR" />
        <result column="sm" property="sm" jdbcType="VARCHAR" />
        <result column="zzstsgl" property="zzstsgl" jdbcType="VARCHAR" />
        <result column="yhzcbs" property="yhzcbs" jdbcType="VARCHAR" />
        <result column="hgjcksppm" property="hgjcksppm" jdbcType="VARCHAR" />
        <result column="pid" property="pid" jdbcType="VARCHAR" />
        <result column="jldw" property="jldw" jdbcType="VARCHAR" />
        <result column="zxbm" property="zxbm" jdbcType="VARCHAR" />
        <result column="mrz" property="mrz" jdbcType="VARCHAR" />
        <result column="Insert_Time" property="insertTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <insert id="insertList" parameterType="java.util.List">
        insert into sys_commodity_code (jsbh, nsrsbh,
            bm, spmc, spbmjc, 
            ggxh, sl, dj, kysl, 
            hsbz, lslbs, sm, 
            zzstsgl, yhzcbs, hgjcksppm, 
            pid, jldw, zxbm, spbm,
            mrz,Insert_Time)
        values
        <foreach collection ="list" item="sysCommodityCode" index= "index" separator =",">
        (#{sysCommodityCode.jsbh,jdbcType=VARCHAR}, #{sysCommodityCode.nsrsbh,jdbcType=VARCHAR},
            #{sysCommodityCode.bm,jdbcType=VARCHAR}, #{sysCommodityCode.spmc,jdbcType=VARCHAR}, #{sysCommodityCode.spbmjc,jdbcType=VARCHAR},
            #{sysCommodityCode.ggxh,jdbcType=VARCHAR}, #{sysCommodityCode.sl,jdbcType=VARCHAR}, #{sysCommodityCode.dj,jdbcType=VARCHAR}, #{sysCommodityCode.kysl,jdbcType=VARCHAR},
            #{sysCommodityCode.hsbz,jdbcType=VARCHAR}, #{sysCommodityCode.lslbs,jdbcType=VARCHAR}, #{sysCommodityCode.sm,jdbcType=VARCHAR},
            #{sysCommodityCode.zzstsgl,jdbcType=VARCHAR}, #{sysCommodityCode.yhzcbs,jdbcType=VARCHAR}, #{sysCommodityCode.hgjcksppm,jdbcType=VARCHAR},
            #{sysCommodityCode.pid}, #{sysCommodityCode.jldw,jdbcType=VARCHAR}, #{sysCommodityCode.zxbm,jdbcType=VARCHAR},
            #{sysCommodityCode.spbm,jdbcType=VARCHAR},#{sysCommodityCode.mrz,jdbcType=VARCHAR},sysdate())
        </foreach>
    </insert>
    <select id="selectCommoditCodeList" parameterType="com.invoice.system.domain.szmodel.SysCommodityCode" resultMap="BaseResultMap">
        select * from sys_commodity_code
        <where>
            <if test="jsbh != null and jsbh != ''">
                AND jsbh = #{jsbh}
            </if>
            <if test="spmc != null and spmc != ''">
                AND spmc like concat('%', #{spmc}, '%')
            </if>
            <if test="nsrsbh != null and nsrsbh != ''">
                AND nsrsbh = #{nsrsbh}
            </if>
            <if test="bm != null and bm != ''">
                AND bm = #{bm}
            </if>
            <if test="spbm != null and spbm != ''">
                AND spbm = #{spbm}
            </if>
        </where>
    </select>
    <select id="selectCommoditCodeById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from sys_commodity_code
        where id= #{id}
    </select>
    <delete id="deleteByNsrsbh" parameterType="java.lang.String">
 		delete from sys_commodity_code where nsrsbh = #{nsrsbh}
 	</delete>
    <delete id="deleteByJsbh" parameterType="java.lang.String">
 		delete from sys_commodity_code where jsbh = #{jsbh}
 	</delete>
</mapper>