<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.invoice.system.mapper.SysCommodityCodeAddMapper" >
    <resultMap id="BaseResultMap" type="com.invoice.system.domain.szmodel.SysCommodityCodeAdd" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="jsbh" property="jsbh" jdbcType="VARCHAR" />
        <result column="nsrsbh" property="nsrsbh" jdbcType="VARCHAR" />
        <result column="bm" property="bm" jdbcType="VARCHAR" />
        <result column="spmc" property="spmc" jdbcType="VARCHAR" />
        <result column="spbm" property="spbm" jdbcType="VARCHAR" />
        <result column="spbmjc" property="spbmjc" jdbcType="VARCHAR" />
        <result column="ggxh" property="ggxh" jdbcType="VARCHAR" />
        <result column="sl" property="sl" jdbcType="VARCHAR" />
        <result column="dj" property="dj" jdbcType="DOUBLE" />
        <result column="kysl" property="kysl" jdbcType="VARCHAR" />
        <result column="hsbz" property="hsbz" jdbcType="VARCHAR" />
        <result column="pid" property="pid" jdbcType="VARCHAR" />
        <result column="jldw" property="jldw" jdbcType="VARCHAR" />
        <result column="mc" property="mc" jdbcType="VARCHAR" />
        <result column="kyzt" property="kyzt" jdbcType="VARCHAR" />
        <result column="gmtjdm" property="gmtjdm" jdbcType="VARCHAR" />
        <result column="hgpm" property="hgpm" jdbcType="VARCHAR" />
        <result column="mslx" property="mslx" jdbcType="VARCHAR" />
        <result column="yhlx" property="yhlx" jdbcType="VARCHAR" />
        <result column="xfsgl" property="xfsgl" jdbcType="VARCHAR" />
        <result column="xfszcyj" property="xfszcyj" jdbcType="VARCHAR" />
        <result column="xfstsgldm" property="xfstsgldm" jdbcType="VARCHAR" />
        <result column="gjz" property="gjz" jdbcType="VARCHAR" />
        <result column="bb" property="bb" jdbcType="VARCHAR" />
        <result column="gdqjzsj" property="gdqjzsj" jdbcType="VARCHAR" />
        <result column="qysj" property="qysj" jdbcType="VARCHAR" />
        <result column="gxsj" property="gxsj" jdbcType="VARCHAR" />
        <result column="zzstsgldm" property="zzstsgldm" jdbcType="VARCHAR" />
        <result column="zzszcyj" property="zzszcyj" jdbcType="VARCHAR" />
        <result column="zzstsgl" property="zzstsgl" jdbcType="VARCHAR" />
        <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <insert id="insert" parameterType="com.invoice.system.domain.szmodel.SysCommodityCodeAdd" >
        insert into sys_commodity_code_add ( status, jsbh,
            nsrsbh, bm, spmc,
            spbm, spbmjc, ggxh,
            sl, dj, kysl, hsbz,
            pid, jldw, mc, kyzt,
            gmtjdm, hgpm, mslx,
            yhlx, xfsgl, xfszcyj,
            xfstsgldm, gjz, bb,
            gdqjzsj, qysj, gxsj,
            zzstsgldm, zzszcyj, zzstsgl,
            insert_time, sm)
        values (#{status,jdbcType=INTEGER}, #{jsbh,jdbcType=VARCHAR},
            #{nsrsbh,jdbcType=VARCHAR}, #{bm,jdbcType=VARCHAR}, #{spmc,jdbcType=VARCHAR},
            #{spbm,jdbcType=VARCHAR}, #{spbmjc,jdbcType=VARCHAR}, #{ggxh,jdbcType=VARCHAR},
            #{sl,jdbcType=VARCHAR}, #{dj,jdbcType=DOUBLE}, #{kysl,jdbcType=VARCHAR}, #{hsbz,jdbcType=VARCHAR},
            #{pid,jdbcType=VARCHAR}, #{jldw,jdbcType=VARCHAR}, #{mc,jdbcType=VARCHAR}, #{kyzt,jdbcType=VARCHAR},
            #{gmtjdm,jdbcType=VARCHAR}, #{hgpm,jdbcType=VARCHAR}, #{mslx,jdbcType=VARCHAR},
            #{yhlx,jdbcType=VARCHAR}, #{xfsgl,jdbcType=VARCHAR}, #{xfszcyj,jdbcType=VARCHAR},
            #{xfstsgldm,jdbcType=VARCHAR}, #{gjz,jdbcType=VARCHAR}, #{bb,jdbcType=VARCHAR},
            #{gdqjzsj,jdbcType=VARCHAR}, #{qysj,jdbcType=VARCHAR}, #{gxsj,jdbcType=VARCHAR},
            #{zzstsgldm,jdbcType=VARCHAR}, #{zzszcyj,jdbcType=VARCHAR}, #{zzstsgl,jdbcType=VARCHAR},
            sysdate(), #{sm,jdbcType=LONGVARCHAR})
    </insert>
    <select id="selectByNMc" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from sys_commodity_code_add
        where mc= #{mc} and nsrsbh=#{nsrsbh} limit 1
    </select>
    <select id="selectByBM" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from sys_commodity_code_add
        where bm= #{bm} and nsrsbh=#{nsrsbh} limit 1
    </select>
    <update id="updateStatus" parameterType="com.invoice.system.domain.szmodel.SysCommodityCodeAdd" >
        update sys_commodity_code_add
        set
        status = #{status,jdbcType=INTEGER},
        update_time=sysdate()
        where  spmc= #{mc} and nsrsbh=#{nsrsbh}
    </update>
    <update id="updateByNMc" parameterType="com.invoice.system.domain.szmodel.SysCommodityCodeAdd" >
        update sys_commodity_code_add
        <set >

            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="jsbh != null" >
                jsbh = #{jsbh,jdbcType=VARCHAR},
            </if>
            <if test="nsrsbh != null" >
                nsrsbh = #{nsrsbh,jdbcType=VARCHAR},
            </if>
            <if test="bm != null" >
                bm = #{bm,jdbcType=VARCHAR},
            </if>
            <if test="spmc != null" >
                spmc = #{spmc,jdbcType=VARCHAR},
            </if>
            <if test="spbm != null" >
                spbm = #{spbm,jdbcType=VARCHAR},
            </if>
            <if test="spbmjc != null" >
                spbmjc = #{spbmjc,jdbcType=VARCHAR},
            </if>
            <if test="ggxh != null" >
                ggxh = #{ggxh,jdbcType=VARCHAR},
            </if>
            <if test="sl != null" >
                sl = #{sl,jdbcType=VARCHAR},
            </if>
            <if test="dj != null" >
                dj = #{dj,jdbcType=DOUBLE},
            </if>
            <if test="kysl != null" >
                kysl = #{kysl,jdbcType=VARCHAR},
            </if>
            <if test="hsbz != null" >
                hsbz = #{hsbz,jdbcType=VARCHAR},
            </if>
            <if test="pid != null" >
                pid = #{pid,jdbcType=VARCHAR},
            </if>
            <if test="jldw != null" >
                jldw = #{jldw,jdbcType=VARCHAR},
            </if>
            <if test="mc != null" >
                mc = #{mc,jdbcType=VARCHAR},
            </if>
            <if test="kyzt != null" >
                kyzt = #{kyzt,jdbcType=VARCHAR},
            </if>
            <if test="gmtjdm != null" >
                gmtjdm = #{gmtjdm,jdbcType=VARCHAR},
            </if>
            <if test="hgpm != null" >
                hgpm = #{hgpm,jdbcType=VARCHAR},
            </if>
            <if test="mslx != null" >
                mslx = #{mslx,jdbcType=VARCHAR},
            </if>
            <if test="yhlx != null" >
                yhlx = #{yhlx,jdbcType=VARCHAR},
            </if>
            <if test="xfsgl != null" >
                xfsgl = #{xfsgl,jdbcType=VARCHAR},
            </if>
            <if test="xfszcyj != null" >
                xfszcyj = #{xfszcyj,jdbcType=VARCHAR},
            </if>
            <if test="xfstsgldm != null" >
                xfstsgldm = #{xfstsgldm,jdbcType=VARCHAR},
            </if>
            <if test="gjz != null" >
                gjz = #{gjz,jdbcType=VARCHAR},
            </if>
            <if test="bb != null" >
                bb = #{bb,jdbcType=VARCHAR},
            </if>
            <if test="gdqjzsj != null" >
                gdqjzsj = #{gdqjzsj,jdbcType=VARCHAR},
            </if>
            <if test="qysj != null" >
                qysj = #{qysj,jdbcType=VARCHAR},
            </if>
            <if test="gxsj != null" >
                gxsj = #{gxsj,jdbcType=VARCHAR},
            </if>
            <if test="zzstsgldm != null" >
                zzstsgldm = #{zzstsgldm,jdbcType=VARCHAR},
            </if>
            <if test="zzszcyj != null" >
                zzszcyj = #{zzszcyj,jdbcType=VARCHAR},
            </if>
            <if test="zzstsgl != null" >
                zzstsgl = #{zzstsgl,jdbcType=VARCHAR},
            </if>
            <if test="insertTime != null" >
                insert_time = #{insertTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sm != null" >
                sm = #{sm,jdbcType=LONGVARCHAR},
            </if>
            update_time=sysdate()
        </set>
        where  spmc= #{mc} and nsrsbh=#{nsrsbh}

    </update>
    <update id="updateById" parameterType="com.invoice.system.domain.szmodel.SysCommodityCodeAdd" >
        update sys_commodity_code_add
        <set >

            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="jsbh != null" >
                jsbh = #{jsbh,jdbcType=VARCHAR},
            </if>
            <if test="nsrsbh != null" >
                nsrsbh = #{nsrsbh,jdbcType=VARCHAR},
            </if>
            <if test="bm != null" >
                bm = #{bm,jdbcType=VARCHAR},
            </if>
            <if test="spmc != null" >
                spmc = #{spmc,jdbcType=VARCHAR},
            </if>
            <if test="spbm != null" >
                spbm = #{spbm,jdbcType=VARCHAR},
            </if>
            <if test="spbmjc != null" >
                spbmjc = #{spbmjc,jdbcType=VARCHAR},
            </if>
            <if test="ggxh != null" >
                ggxh = #{ggxh,jdbcType=VARCHAR},
            </if>
            <if test="sl != null" >
                sl = #{sl,jdbcType=VARCHAR},
            </if>
            <if test="dj != null" >
                dj = #{dj,jdbcType=DOUBLE},
            </if>
            <if test="kysl != null" >
                kysl = #{kysl,jdbcType=VARCHAR},
            </if>
            <if test="hsbz != null" >
                hsbz = #{hsbz,jdbcType=VARCHAR},
            </if>
            <if test="pid != null" >
                pid = #{pid,jdbcType=VARCHAR},
            </if>
            <if test="jldw != null" >
                jldw = #{jldw,jdbcType=VARCHAR},
            </if>
            <if test="mc != null" >
                mc = #{mc,jdbcType=VARCHAR},
            </if>
            <if test="kyzt != null" >
                kyzt = #{kyzt,jdbcType=VARCHAR},
            </if>
            <if test="gmtjdm != null" >
                gmtjdm = #{gmtjdm,jdbcType=VARCHAR},
            </if>
            <if test="hgpm != null" >
                hgpm = #{hgpm,jdbcType=VARCHAR},
            </if>
            <if test="mslx != null" >
                mslx = #{mslx,jdbcType=VARCHAR},
            </if>
            <if test="yhlx != null" >
                yhlx = #{yhlx,jdbcType=VARCHAR},
            </if>
            <if test="xfsgl != null" >
                xfsgl = #{xfsgl,jdbcType=VARCHAR},
            </if>
            <if test="xfszcyj != null" >
                xfszcyj = #{xfszcyj,jdbcType=VARCHAR},
            </if>
            <if test="xfstsgldm != null" >
                xfstsgldm = #{xfstsgldm,jdbcType=VARCHAR},
            </if>
            <if test="gjz != null" >
                gjz = #{gjz,jdbcType=VARCHAR},
            </if>
            <if test="bb != null" >
                bb = #{bb,jdbcType=VARCHAR},
            </if>
            <if test="gdqjzsj != null" >
                gdqjzsj = #{gdqjzsj,jdbcType=VARCHAR},
            </if>
            <if test="qysj != null" >
                qysj = #{qysj,jdbcType=VARCHAR},
            </if>
            <if test="gxsj != null" >
                gxsj = #{gxsj,jdbcType=VARCHAR},
            </if>
            <if test="zzstsgldm != null" >
                zzstsgldm = #{zzstsgldm,jdbcType=VARCHAR},
            </if>
            <if test="zzszcyj != null" >
                zzszcyj = #{zzszcyj,jdbcType=VARCHAR},
            </if>
            <if test="zzstsgl != null" >
                zzstsgl = #{zzstsgl,jdbcType=VARCHAR},
            </if>
            <if test="insertTime != null" >
                insert_time = #{insertTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sm != null" >
                sm = #{sm,jdbcType=LONGVARCHAR},
            </if>
            update_time=sysdate()
        </set>
        where  id= #{id}

    </update>

    <delete id="deleteById" parameterType="java.lang.Integer" >
        delete from sys_commodity_code_add
        where id = #{id,jdbcType=INTEGER}
    </delete>
</mapper>