<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.invoice.system.mapper.SysInvoiceMapper" >
    <resultMap id="BaseResultMap" type="com.invoice.system.domain.szmodel.SysInvoice" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="fpqqlsh" property="fpqqlsh" jdbcType="VARCHAR" />
        <result column="szfpqqlsh" property="szfpqqlsh" jdbcType="VARCHAR" />
        <result column="fpdm" property="fpdm" jdbcType="VARCHAR" />
        <result column="fphm" property="fphm" jdbcType="VARCHAR" />
        <result column="fpzt" property="fpzt" jdbcType="VARCHAR" />
        <result column="sksbbh" property="sksbbh" jdbcType="VARCHAR" />
        <result column="kprq" property="kprq" jdbcType="VARCHAR" />
        <result column="fplxdm" property="fplxdm" jdbcType="VARCHAR" />
        <result column="jsbh" property="jsbh" jdbcType="VARCHAR" />
        <result column="ghdwsbh" property="ghdwsbh" jdbcType="VARCHAR" />
        <result column="nsrsbh" property="nsrsbh" jdbcType="VARCHAR" />
        <result column="ghdwmc" property="ghdwmc" jdbcType="VARCHAR" />
        <result column="hjje" property="hjje" jdbcType="VARCHAR" />
        <result column="hjse" property="hjse" jdbcType="VARCHAR" />
        <result column="jshj" property="jshj" jdbcType="VARCHAR" />
        <result column="jym" property="jym" jdbcType="VARCHAR" />
        <result column="skm" property="skm" jdbcType="VARCHAR" />
        <result column="url" property="url" jdbcType="VARCHAR" />
        <result column="sprsjh" property="sprsjh" jdbcType="VARCHAR" />
        <result column="skr" property="skr" jdbcType="VARCHAR" />
        <result column="fhr" property="fhr" jdbcType="VARCHAR" />
        <result column="kpr" property="kpr" jdbcType="VARCHAR" />
        <result column="zfr" property="zfr" jdbcType="VARCHAR" />
        <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
        <result column="invoice_number" property="invoiceNumber" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, fpqqlsh, szfpqqlsh, fpdm, fphm, fpzt, sksbbh, kprq, fplxdm, jsbh, ghdwsbh, nsrsbh,
        ghdwmc, hjje, hjse, jshj, jym, skm, url, sprsjh, skr, fhr, kpr, zfr, invoice_number,insert_time
    </sql>
    <insert id="insert" parameterType="com.invoice.system.domain.szmodel.SysInvoice" >
        insert into sys_invoice (fpqqlsh, szfpqqlsh,
            fpdm, fphm, fpzt,
            sksbbh, kprq, fplxdm,
            jsbh, ghdwsbh, nsrsbh,
            ghdwmc, hjje, hjse,
            jshj, jym, skm, url,
            sprsjh, skr, fhr,
            kpr, zfr, invoice_number,insert_time
            )
        values (#{fpqqlsh,jdbcType=VARCHAR}, #{szfpqqlsh,jdbcType=VARCHAR},
            #{fpdm,jdbcType=VARCHAR}, #{fphm,jdbcType=VARCHAR}, #{fpzt,jdbcType=VARCHAR},
            #{sksbbh,jdbcType=VARCHAR}, #{kprq,jdbcType=VARCHAR}, #{fplxdm,jdbcType=VARCHAR},
            #{jsbh,jdbcType=VARCHAR}, #{ghdwsbh,jdbcType=VARCHAR}, #{nsrsbh,jdbcType=VARCHAR},
            #{ghdwmc,jdbcType=VARCHAR}, #{hjje,jdbcType=VARCHAR}, #{hjse,jdbcType=VARCHAR},
            #{jshj,jdbcType=VARCHAR}, #{jym,jdbcType=VARCHAR}, #{skm,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR},
            #{sprsjh,jdbcType=VARCHAR}, #{skr,jdbcType=VARCHAR}, #{fhr,jdbcType=VARCHAR},
            #{kpr,jdbcType=VARCHAR}, #{zfr,jdbcType=VARCHAR}, #{invoiceNumber,jdbcType=VARCHAR},sysdate()
            )
    </insert>
    <select id="selectByFpqqlsh" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from sys_invoice
        where fpqqlsh = #{fpqqlsh}
    </select>
    <select id="selectByFphm" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from sys_invoice
        where fphm = #{fphm}
    </select>
    <update id="updataByFpqqlsh" parameterType="com.invoice.system.domain.szmodel.SysInvoice">
      update sys_invoice
        <set >
            <if test="szfpqqlsh != null" >
                szfpqqlsh = #{szfpqqlsh,jdbcType=VARCHAR},
            </if>
            <if test="fpdm != null" >
                fpdm = #{fpdm,jdbcType=VARCHAR},
            </if>
            <if test="fphm != null" >
                fphm = #{fphm,jdbcType=VARCHAR},
            </if>
            <if test="fpzt != null" >
                fpzt = #{fpzt,jdbcType=VARCHAR},
            </if>
            <if test="sksbbh != null" >
                sksbbh = #{sksbbh,jdbcType=VARCHAR},
            </if>
            <if test="kprq != null" >
                kprq = #{kprq,jdbcType=VARCHAR},
            </if>
            <if test="fplxdm != null" >
                fplxdm = #{fplxdm,jdbcType=VARCHAR},
            </if>
            <if test="jsbh != null" >
                jsbh = #{jsbh,jdbcType=VARCHAR},
            </if>
            <if test="ghdwsbh != null" >
                ghdwsbh = #{ghdwsbh,jdbcType=VARCHAR},
            </if>
            <if test="nsrsbh != null" >
                nsrsbh = #{nsrsbh,jdbcType=VARCHAR},
            </if>
            <if test="ghdwmc != null" >
                ghdwmc = #{ghdwmc,jdbcType=VARCHAR},
            </if>
            <if test="hjje != null" >
                hjje = #{hjje,jdbcType=VARCHAR},
            </if>
            <if test="hjse != null" >
                hjse = #{hjse,jdbcType=VARCHAR},
            </if>
            <if test="jshj != null" >
                jshj = #{jshj,jdbcType=VARCHAR},
            </if>
            <if test="jym != null" >
                jym = #{jym,jdbcType=VARCHAR},
            </if>
            <if test="skm != null" >
                skm = #{skm,jdbcType=VARCHAR},
            </if>
            <if test="url != null" >
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="sprsjh != null" >
                sprsjh = #{sprsjh,jdbcType=VARCHAR},
            </if>
            <if test="skr != null" >
                skr = #{skr,jdbcType=VARCHAR},
            </if>
            <if test="fhr != null" >
                fhr = #{fhr,jdbcType=VARCHAR},
            </if>
            <if test="kpr != null" >
                kpr = #{kpr,jdbcType=VARCHAR},
            </if>
            <if test="zfr != null" >
                zfr = #{zfr,jdbcType=VARCHAR},
            </if>

        </set>
        where   fpqqlsh=#{fpqqlsh}
    </update>
    <!--根据参数查询发票-->
    <select id="selInvoiceInfosByParams" resultMap="BaseResultMap" parameterType="com.invoice.system.domain.szmodel.SysInvoice" >
        select
        <include refid="Base_Column_List" />
        from sys_invoice
    </select>


</mapper>