<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.invoice.system.mapper.SysClientInfoPushMapper" >
    <resultMap id="sysClientInfoPushResult" type="com.invoice.system.domain.SysClientInfoPush" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="jsbh" property="jsbh" jdbcType="VARCHAR" />
        <result column="channel_id" property="channelId" jdbcType="VARCHAR" />
        <result column="client_name" property="clientName" jdbcType="VARCHAR" />
        <result column="nsrsbh" property="nsrsbh" jdbcType="VARCHAR" />
        <result column="provinceno" property="provinceno" jdbcType="VARCHAR" />
        <result column="provincename" property="provincename" jdbcType="VARCHAR" />
        <result column="cityno" property="cityno" jdbcType="VARCHAR" />
        <result column="cityname" property="cityname" jdbcType="VARCHAR" />
        <result column="dispatch" property="dispatch" jdbcType="CHAR" />
        <result column="business_address" property="businessAddress" jdbcType="VARCHAR" />
        <result column="tel" property="tel" jdbcType="VARCHAR" />
        <result column="open_bank" property="openBank" jdbcType="VARCHAR" />
        <result column="account_no" property="accountNo" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="contact" property="contact" jdbcType="VARCHAR" />
        <result column="idno" property="idno" jdbcType="VARCHAR" />
        <result column="saler_mobile" property="salerMobile" jdbcType="VARCHAR" />
        <result column="goods_id" property="goodsId" jdbcType="VARCHAR" />
        <result column="tax_rate" property="taxRate" jdbcType="DECIMAL" />
        <result column="defaut_goods" property="defautGoods" jdbcType="VARCHAR" />
        <result column="xmmc" property="xmmc" jdbcType="VARCHAR" />
        <result column="kpr" property="kpr" jdbcType="VARCHAR" />
        <result column="sbbh" property="sbbh" jdbcType="VARCHAR" />
        <result column="hxbbh" property="hxbbh" jdbcType="VARCHAR" />
        <result column="merchantid" property="merchantid" jdbcType="VARCHAR" />
        <result column="ktzt" property="ktzt" jdbcType="VARCHAR" />
        <result column="e_signet" property="eSignet" jdbcType="VARCHAR" />
        <result column="rtn_code" property="rtnCode" jdbcType="VARCHAR" />
        <result column="rtn_msg" property="rtnMsg" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="BIGINT" />
        <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    </resultMap>

    <insert id ="insertInfo" parameterType="com.invoice.system.domain.SysClientInfoPush" >
         insert into sys_client_info_push (id,jsbh, channel_id, client_name,
            nsrsbh, provinceno, provincename,
            cityno, cityname, dispatch,
            business_address, tel, open_bank,
            account_no, phone, contact,
            idno, saler_mobile, goods_id,
            tax_rate, defaut_goods, xmmc,
            kpr, sbbh, hxbbh,
            merchantid, ktzt,
            e_signet, rtn_code, rtn_msg,
            create_time, update_time)
        values (#{id,jdbcType=INTEGER}, #{jsbh,jdbcType=VARCHAR}, #{channelId,jdbcType=VARCHAR}, #{clientName,jdbcType=VARCHAR},
            #{nsrsbh,jdbcType=VARCHAR}, #{provinceno,jdbcType=VARCHAR}, #{provincename,jdbcType=VARCHAR},
            #{cityno,jdbcType=VARCHAR}, #{cityname,jdbcType=VARCHAR}, #{dispatch,jdbcType=CHAR},
            #{businessAddress,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{openBank,jdbcType=VARCHAR},
            #{accountNo,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR},
            #{idno,jdbcType=VARCHAR}, #{salerMobile,jdbcType=VARCHAR}, #{goodsId,jdbcType=VARCHAR},
            #{taxRate,jdbcType=DECIMAL}, #{defautGoods,jdbcType=VARCHAR}, #{xmmc,jdbcType=VARCHAR},
            #{kpr,jdbcType=VARCHAR}, #{sbbh,jdbcType=VARCHAR}, #{hxbbh,jdbcType=VARCHAR},
            #{merchantid,jdbcType=VARCHAR}, #{ktzt,jdbcType=VARCHAR},
            #{eSignet,jdbcType=VARCHAR}, #{rtnCode,jdbcType=VARCHAR}, #{rtnMsg,jdbcType=VARCHAR},
            #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT})
    </insert >

    <sql id="selResult">
         select id,jsbh,channel_id,client_name,nsrsbh,provinceno,provincename,cityno,cityname,dispatch,business_address,tel,open_bank,account_no,phone,
        contact,idno,saler_mobile,goods_id,tax_rate,defaut_goods,xmmc,kpr,sbbh,hxbbh,merchantid, ktzt,
            e_signet, rtn_code, rtn_msg from sys_client_info_push
    </sql>
    <!-- 根据纳税人识别号查询商户信息 -->
    <select id="selClientInfo" parameterType="String" resultMap="sysClientInfoPushResult">
        <include refid="selResult"/>
        <where>
             nsrsbh = #{nsrsbh}
        </where>
    </select>

    <!-- 根据主键Id查询商户信息 -->
    <select id="selClientInfoById" parameterType="Integer" resultMap="sysClientInfoPushResult">
        <include refid="selResult"/>
        <where>
            id = #{id}
        </where>
    </select>

    <!-- 根据查询条件查询商户信息 -->
    <select id="selectClientInfoList" parameterType="com.invoice.system.domain.SysClientInfoPush" resultMap="sysClientInfoPushResult">
        <include refid="selResult"/>
        <where>
            <if test="channelId != null and channelId != ''">
                AND channel_id = #{channelId}
            </if>
            <if test="clientName != null and clientName != ''">
                AND client_name like concat('%', #{clientName}, '%')
            </if>
            <if test="nsrsbh != null and nsrsbh != ''">
                AND nsrsbh = #{nsrsbh}
            </if>
            <if test="salerMobile != null and salerMobile != ''">
                AND saler_mobile = #{salerMobile}
            </if>
        </where>
    </select>

    <!-- 查询未开通商户信息 开通状态为 -->
    <select id="selectNotKtClientInfos"  resultMap="sysClientInfoPushResult">
        <include refid="selResult"/>
        where  ktzt in ('1','3') or e_signet in('99','0')
    </select>

    <!-- 查询未审核商户信息 电子签章状态为  99 未申请  或  0 等待审核-->

    <update id="updateClientInfo" parameterType="com.invoice.system.domain.SysClientInfoPush">
        update sys_client_info_push
        <set >
            <if test="id != null" >
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="jsbh != null" >
                jsbh = #{jsbh,jdbcType=VARCHAR},
            </if>
            <if test="channelId != null" >
                channel_id = #{channelId,jdbcType=VARCHAR},
            </if>
            <if test="clientName != null" >
                client_name = #{clientName,jdbcType=VARCHAR},
            </if>
            <if test="nsrsbh != null" >
                nsrsbh = #{nsrsbh,jdbcType=VARCHAR},
            </if>
            <if test="provinceno != null" >
                provinceno = #{provinceno,jdbcType=VARCHAR},
            </if>
            <if test="provincename != null" >
                provincename = #{provincename,jdbcType=VARCHAR},
            </if>
            <if test="cityno != null" >
                cityno = #{cityno,jdbcType=VARCHAR},
            </if>
            <if test="cityname != null" >
                cityname = #{cityname,jdbcType=VARCHAR},
            </if>
            <if test="dispatch != null" >
                dispatch = #{dispatch,jdbcType=CHAR},
            </if>
            <if test="businessAddress != null" >
                business_address = #{businessAddress,jdbcType=VARCHAR},
            </if>
            <if test="tel != null" >
                tel = #{tel,jdbcType=VARCHAR},
            </if>
            <if test="openBank != null" >
                open_bank = #{openBank,jdbcType=VARCHAR},
            </if>
            <if test="accountNo != null" >
                account_no = #{accountNo,jdbcType=VARCHAR},
            </if>
            <if test="phone != null" >
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="contact != null" >
                contact = #{contact,jdbcType=VARCHAR},
            </if>
            <if test="idno != null" >
                idno = #{idno,jdbcType=VARCHAR},
            </if>
            <if test="salerMobile != null" >
                saler_mobile = #{salerMobile,jdbcType=VARCHAR},
            </if>
            <if test="goodsId != null" >
                goods_id = #{goodsId,jdbcType=VARCHAR},
            </if>
            <if test="taxRate != null" >
                tax_rate = #{taxRate,jdbcType=DECIMAL},
            </if>
            <if test="defautGoods != null" >
                defaut_goods = #{defautGoods,jdbcType=VARCHAR},
            </if>
            <if test="xmmc != null" >
                xmmc = #{xmmc,jdbcType=VARCHAR},
            </if>
            <if test="kpr != null" >
                kpr = #{kpr,jdbcType=VARCHAR},
            </if>
            <if test="sbbh != null" >
                sbbh = #{sbbh,jdbcType=VARCHAR},
            </if>
            <if test="hxbbh != null" >
                hxbbh = #{hxbbh,jdbcType=VARCHAR},
            </if>
            <if test="merchantid != null" >
                merchantid = #{merchantid,jdbcType=VARCHAR},
            </if>
            <if test="zdytgwfbs != null" >
                zdytgwfbs = #{zdytgwfbs,jdbcType=CHAR},
            </if>
            <if test="ktzt != null" >
                ktzt = #{ktzt,jdbcType=VARCHAR},
            </if>
            <if test="eSignet != null" >
                e_signet = #{eSignet,jdbcType=VARCHAR},
            </if>
            <if test="rtnCode != null" >
                rtn_code = #{rtnCode,jdbcType=VARCHAR},
            </if>
            <if test="rtnMsg != null" >
                rtn_msg = #{rtnMsg,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=BIGINT},
            </if>
        </set>
        where nsrsbh = #{nsrsbh,jdbcType=VARCHAR}
    </update>

</mapper>